.Hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
    // gap: 100px;
    padding-top: 100px;
    min-height: 100vh;
    background: #f008;



    &__title {
        width: 100%;
        text-align: center;

        &_text {
            width: 100%;
            font-size: 160px;
            font-family: "Modak";
            color: #EB844C;
            line-height: 200px;

            @media(max-width: 1600px) {
                font-size: 120px;
                line-height: 130px;
            }

            @media(max-width: 1200px) {
                font-size: 100px;
                line-height: 100px;
            }

            @media(max-width: 900px) {
                font-size: 60px;
                line-height: 60px;
            }

            @media(max-width: 600px) {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

}