.Hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
    // gap: 100px;
    padding-top: 100px;
    min-height: 100vh;
    background: #f008;
    @media(max-height: 800px){
        padding-top: 200px;
    }
    @media(max-width: 700px){
        padding-top: 100px !important;
    }



    &__title {
        width: 100%;
        text-align: center;

        &_text {
            width: 100%;
            max-width: 1620px;
            margin: 0 auto;

            span {
                font-size: 160px;
                font-family: "Modak";
                color: #EB844C;
                line-height: 200px;
                @media(max-width: 1400px){
                    font-size: 120px;
                }
                @media(max-width: 920px){
                    font-size: 100px;
                }
                @media(max-width: 768px){
                    font-size: 50px;
                    line-height: 100px;
                }
            }

            &_img {
                display: inline-flex !important;
                top: -30px;
                left: -30px;
                @media(max-width: 768px){
                    left: -15px;
                    top: -15px;
                }

                img {
                    width: 250px;
                    max-height: 180px;
                    @media(max-width: 1400px){
                        width: 200px;
                        max-height: 150px;
                    }
                    @media(max-width: 920px){
                        width: 150px;
                        max-height: 100px;
                    }
                    @media(max-width: 768px){
                        width: 75px;
                        max-height: 50px;
                    }
                }
            }

            // @media(max-width: 1600px) {
            //     font-size: 120px;
            //     line-height: 130px;
            // }

            // @media(max-width: 1200px) {
            //     font-size: 100px;
            //     line-height: 100px;
            // }

            // @media(max-width: 900px) {
            //     font-size: 60px;
            //     line-height: 60px;
            // }

            // @media(max-width: 600px) {
            //     font-size: 30px;
            //     line-height: 30px;
            // }
        }
    }

}