.NavBtn {
    border-radius: 34px;
    background-color: #0E161A;
    padding: 10px 35px;
    cursor: pointer;
    border: 1px solid #1C2E38;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    overflow: hidden;

    &_text {
        text-align: center;
        transition: color 200ms 300ms;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: "Modak";
        font-size: 24px;
        position: relative;
        z-index: 10;
    }

    &_anim {
        width: 100% !important;

        &_black {
            min-width: 100%;
            min-height: 50px;
            border-radius: 34px;
            background: #6a6a6a;
            transform: translate(0px, 30px) scale(.5);
            transition: transform 500ms;
        }

        &_white {
            min-width: 100%;
            min-height: 50px;
            border-radius: 34px;
            background: #fff;
            transform: translate(0px, 30px) scale(.5);
            transition: transform 500ms 200ms;
        }
    }

    &:hover {
        .NavBtn_text {
            color: black;
        }

        .NavBtn_anim_black {
            transform: translate(0px, -20px) scale(1.9);
        }

        .NavBtn_anim_white {
            transform: translate(0px, -20px) scale(1.9);
        }
    }

    @media(max-width: 1070px) {
        font-size: 17px;
        padding: 10px 28px;
    }
    &_1{
        background-color: #EB844C;
        border: 1px solid #FCA86D;
    }
    &_2{
        background-color: #287E9F;
        border: 1px solid #52BBE3;
    }
    &_3{
        background-color: #DB665C;
        border: 1px solid #FF8D83;
    }
}