.About {
    width: 100%;
    background: 
    linear-gradient(to bottom, rgba(251, 166, 108, 0.8) 0%, rgba(184, 104, 81, 0.8) 48%, rgba(6, 67, 89, 0.8) 100%),
    url('/img/dots.png'),
    url('/img/noise.webp');
    background-position: center;
    background-repeat: repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 20px;

    &__paper {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20%;
            min-width: 350px;

            @media(max-width: 400px) {
                min-width: 250px;
            }
        }
    }

    &__nav {
        width: 100%;
    }

    &__slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        overflow: hidden;
        @media(max-width: 800px){
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}