.Header {
    position: absolute;
    width: 100%;

    @media(max-width: 700px) {
        top: 30px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-top: 20px;

        @media(max-width: 900px) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        @media(max-width: 500px) {
            img {
                max-width: 100px;
            }
        }
    }

    &__nav {
        @media(max-width: 900px) {
            // display: none;
            order: 10;
        }
    }

    &__nav_mob {
        display: none;

        @media(max-width: 900px) {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__social {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        a {
            cursor: pointer;
            transition: transform 300ms;
            will-change: transform;

            &:hover {
                transform: scale(1.1) !important;
            }
        }

        img {
            width: 35px;
            cursor: pointer;
            max-width: 50px;

            @media(max-width: 500px) {
                max-width: 20px;
            }
        }
    }
}