// @font-face {
//     // font-family: "Modak";
//     font-family: "ModakReg";
//     src: url('/fonts/Modak.ttf');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: "ModakReg";
    src: url('/fonts/Modak-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: "SF";
    src: url('/fonts/SF.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "shantel";
    src: url('/fonts/shantel.ttf');
    font-weight: normal;
    font-style: normal;
}

.shantel {
    font-family: "shantel";
}