@font-face {
    font-family: "Modak";
    src: url('/fonts/Modak.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF";
    src: url('/fonts/SF.otf');
    font-weight: normal;
    font-style: normal;
}
