.Nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 14px;
    pointer-events: none;
    position: fixed;
    top: 10px;
    z-index: 99;

    @media(max-width: 700px) {
        flex-wrap: wrap;
        gap: 5px;
        top: 10px;
    }



}